body {
    font-family: Arial, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #c0c0c0;
}
header {
    padding: .25em;
    background-color: white;
}
section {
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: .5em;
}
header > .subheading {
    margin: 0;
    padding: 0;
}
header {
	color: #111144;
	background-image: url(greypinstripe.png);
}
section {
    margin-top: .2em;
    margin-bottom: 1em;
    padding: .5em;
}
section > h2 {
}
section > p {
    margin-left: 0;
}


h1, h2 {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 105%;
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
