h1,h2,h3 {
	color: #111144;
	background-image: url(greypinstripe.png);
	border-top-style: solid; 
	border-top-width: 1px;
}
.introduction {
	margin-left: 60px;
	margin-right: 60px;
	color: #555555;
}
.technical {
	margin-left: 60px;
	margin-right: 60px;
	color: #557755;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}
ul {
	margin-left: 30px;
}
pre {
	background-color: #ffffcc; 
	margin-left: 60px;
}
blockquote {
	margin-left: 90px;
}
body {
	background-color: #FFFFFF; 
	color: #000000;
	font-family: Arial, Helvetica;
}
a:link {
	color: #3333e0;
	text-decoration: none;
}
a:visited {
	color: #1111aa;
	text-decoration: none;
}
a:active {
	color: #111133;
	text-decoration: none;
}
