body { font-family: Arial, Helvetica, sans-serif; }
th           { background-color: #113b89; color: white;}
td           { color: #000008 }
a:link       { color: #113b89 }
a:visited, a:active    { color: #071960; }
a.title      { color: #f0fff0;}
