a:link			{ color: #113b89 }
a:active		{ color: #071960 }
a:visted	{ background-color: #113b89; color: white; }
body {
	font-family: Arial, Helvetica, sans-serif;
	 color: black;
	background-color: white; 
	margin: 0px;
}
.content {
	margin: 5px;
}
h1 {
	margin: 0px;
}
h1, h2 { 
	background-image: url(greypinstripe.png);
	color: #111144;
}
.purpose {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 5px;
	padding: 10px;
	border: thin lightgrey solid;
}
.signature {
	margin-left: 30px;
}
.py-signature {
	margin-left: 10px;
	color: darkgreen;
}
table {
	background-color: lightgrey;
}
tr {
	background-color: white;
}
th {
	background-image: url(greypinstripe.png);
	padding: 5px;
}

div.simpara, div.para {
	margin: 5px;
}

span.parameter {
	color: blue;
}

.c-function {
	color: darkgrey;
}

.pydoc {
	border: solid lightgrey thin;
	background: lightyellow;
	color: darkgreen;
	font-size: smaller;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 5px;
}
