/* OpenGLContext shader tutorial stylesheet */

body {
	background-color: black;
	color: white;
	font-family: arial, helvetica;
}

h1 {
	font-size: 110%;
	padding: .25em;
	margin: 0;
}

.commentary {
	background-color: #003000;
	margin: 2em;
	padding: 1em;
	border: thin blue solid;
}
.commentary div {
	margin-top: .5em;
	margin-bottom: .5em;
}

.code-sample {
	color: black;
	background-color: white;
	white-space: pre;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: .5em;
	margin-bottom: .5em;
}

a {
	text-decoration: none;
	color: cyan;
}
.metadata {
	font-size: 50%;
}
